@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
html {font-size: 100%;} /*16px*/

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #378e5a;
	--secondary-color: #FFE5D9;
	--tertiary-color: #FFCAD4;
	--accent-color: #F4ACB7;
	--secondary-accent-color: #9D8189;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

p {
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

/*         */
/* Media Query */
/*         */

@media (min-width: 900px) {
	h1 {
		font-size: 4.8rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.8rem;
	}
	h5 {
		font-size: 1.4rem;
	}
}

/*         */
/* Utility */
/*         */

.page-wrapper {
	padding: 0 20px 20px;
	margin: 0 auto;
	max-width: 1200px;
}
